# Discord Bot Token
DISCORD_BOT_TOKEN=

# PostgreSQL Database Connection URL (e.g. Supabase connection string)
DATABASE_URL=

# Bot Configurations
DEFAULT_LANGUAGE=ar
MAX_OPEN_TICKETS_PER_USER=1
COOLDOWN_SECONDS=10
HTML_TRANSCRIPT_ENABLED=true
BOT_OWNER_ID=1406547827865288786

